*{
	margin:0;
	padding: 0;
}

header{

	border:solid 1px red;
	height:250px;
	width:100%;
}
nav{
	border: solid 1px blue;
	height: 60px;
	width: 100%;
	margin: 20px 0 10px 0;
	display:flex;
	justify-content:space-around;
	align-items: center;
}


section{
	border:solid 1px black;
	height: 400px;
	width:100%;
	margin:0 0 10px 0;
}
footer{
	border: solid 1px brown;
	height: 20px;
	width: 100%;
}

.contenedor{
height: auto;
margin:auto;
max-width:1000px;
width:100%;
}